/*&__{}*/
.blog {
    padding-bottom: 60px;

    &__box {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        gap: 14px;
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        color: $text-color;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
    }


    &__line {
        height: 2px;
        width: 256px;
        background-color: $text-color;
    }

    &__list {
        display: flex;
        gap: 8px;
        margin-bottom: 28px;
        justify-content: center;
    }
    &__img{
        display: none;
    }

    &__img-second{
        width: 290px;
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        margin-bottom: 32px;
        color: $text-color;
        font-family: "Montserrat", sans-serif;
    }


    &__btn {
        font-weight: 500;
        font-size: 18px;
        line-height: 133%;
        background-color: $btn-background-color;
        color: $background-color;
        border: 1px solid $btn-background-color;
        margin: 0 auto;
        border-radius: 38px;
        padding: 14px 28px;
        display: block;
        transition-property: background-color, color, border;
        transition-duration: 200ms;
        transition-timing-function: ease;
        width: 170px;

        &:hover,
        &:focus {
            background-color: $background-color;
            color: $btn-background-color;
            border: 1px solid $btn-background-color;
        }
    }
}


@media screen and (min-width: 750px) {
    
    /*&__{}*/
.blog {
    padding-bottom: 100px;

    &__box {
        margin-bottom: 60px;
        gap: 16px;
    }

    &__title {
        font-size: 44px;
    }


    &__line {
        width: 573px;
    }

    &__list {
        gap: 32px;
        margin-bottom: 32px;
    }

    &__img{
        display: block;
        width: 365px;

    }


    &__img-second{
        display: none;
    }

    &__text {
        font-size: 32px;
        margin-bottom: 40px;
    }


    &__btn {
        font-size: 28px;
        line-height: 86%;
        padding: 16px 32px;
        width: 280px;

    }
}

}



@media screen and (min-width: 1062px) {
    
    /*&__{}*/
.blog {

    &__box {
        margin-bottom: 122px;
    }

    &__line {
        width: 1185px;
    }

    &__list {
        margin-bottom: 40px;
        justify-content: space-between;
        align-items: center;
    }

    &__img{
        width: 340px;
        height: 369px;
    }

    &__img-second{
        display: block;
        width: 340px;
        height: 421px;
    }

    &__text {
        margin-bottom: 48px;
    }


}

}