    /*&__{}*/
    .footer {

        background-color: $text-color;
        padding-top: 32px;
        padding-bottom: 32px;

        &__box {
            display: flex;
            flex-wrap: wrap;
        }


        &__logo {
            display: none;
        }

        &__title-home {
            font-weight: 700;
            font-size: 18px;
            font-family: "Inter", sans-serif;
            margin-bottom: 18px;
            color: $background-color;
        }

        &__list {
            margin-bottom: 32px;
        }

        &__item-home {
            margin-bottom: 12px;
        }

        &__link-home {
            font-weight: 500;
            font-size: 14px;
            font-family: "Inter", sans-serif;
            color: $background-color;
        }

        &__title-time {
            margin-bottom: 18px;
            font-weight: 700;
            font-size: 18px;
            font-family: "Inter", sans-serif;
            color: $background-color;
        }


        &__link-time {
            color: $background-color;
            font-weight: 500;
            font-size: 14px;
            font-family: "Inter", sans-serif;
        }


        &__title-contacts {
            font-weight: 700;
            font-size: 18px;
            font-family: "Inter", sans-serif;
            margin-bottom: 18px;
            color: $background-color;
        }


        &__list-contacts {
            width: 130px;
        }


        &__item-contacts {
            margin-bottom: 12px;
        }

        &__link-contacts {
            font-weight: 500;
            font-size: 14px;
            color: $background-color;
            font-family: "Inter", sans-serif;
        }


        &__list-social {
            display: flex;
            gap: 14px;


        }

        &__logo-social {
            stroke: $background-color;
            width: 28px;
            stroke-width: 2px;
            height: 28px;
            transition-property: stroke;
            transition-duration: 200ms;
            transition-timing-function: ease;
            

            &:hover,
            :focus{
                stroke: $btn-background-color;
            }


        }

        &__logo-socials {
            fill: $background-color;
            width: 28px;
            height: 28px;
            transition-property: fill;
            transition-duration: 200ms;
            transition-timing-function: ease;

            &:hover,
            :focus{
                fill: $btn-background-color;
            }
        }


        &__wrapper {
            margin-right: 70px;
        }

        &__wrap {
            margin-right: 32px;
        }
    }




    @media screen and (min-width: 750px) {

        /*&__{}*/
        .footer {

            &__box {
                flex-wrap: nowrap;
                justify-content: space-between;
            }

            &__boxer {
                margin-right: 0;
            }


            &__list-social {

                display: flex;
                flex-direction: column;
            }


            &__list-contacts {
                width: 250px;
            }

            &__wrapper {
                margin-right: 0;
            }

            &__wrap {
                margin-right: 0;
            }
        }

    }


    @media screen and (min-width: 1062px) {

        /*&__{}*/
        .footer {

            &__box {
                flex-wrap: nowrap;
                justify-content: space-between;
            }

            &__boxer {
                margin-right: 0;
            }

            &__list-social {

                display: flex;
                flex-direction: column;
            }


            &__logo {
                display: block;
                width: 73px;
                height: 57px;
                fill: $background-color ;
                transition-property: fill;
                transition-duration: 200ms;
                transition-timing-function: ease;

                &:hover,
                :focus{
                    fill: $btn-background-color;
                }
            }

            &__list-contacts {
                width: 250px;
            }

            &__wrapper {
                margin-right: 0;
            }

            &__wrap {
                margin-right: 0;
            }
        }

    }