/*&__{}*/
.header {
    position: relative;
    padding-top: 16px;


    &__navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        width: 45px;
        height: 35px;

        transition-property: fill;
        transition-duration: 500ms;
        transition-timing-function: ease;

        &:hover,
        &:focus {

            fill: $btn-background-color ;

        }
    }

    &__phone {

        width: 22px;
        height: 22px;
        fill: $text-color;
        transition-property: fill;
        transition-duration: 500ms;
        transition-timing-function: ease;


        &:hover,
        &:focus {

            fill: $btn-background-color ;

        }
    }

    &__list {
        display: none;
    }

    .js-close-menu {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    @media screen and (min-width:734px) {
        .js-close-menu {
            right: 50px;
        }
    }

    .menu-container {
        background-color: $btn-background-color;
        position: fixed;
        width: 320px;
        height: 100vh;
        right: 0;
        top: 0;
        padding-top: 136px;
        padding-bottom: 20px;
        z-index: 999;
        transform: translateX(100%);
        transition: transfrom 250ms ease;

    }

    .js-open-menu {
        position: absolute;
        left: 270px;
        margin-right: 20px;
        background-color: transparent;
        top: 20px;
        border: none;
        cursor: pointer;
        width: 28px;
        height: 28px;
    }

    .menu-toggle-icon {
        fill: $background-color;
    }

    .menu-container.is-open {
        transform: translateX(0);

    }

    .mobile__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile__item {
        margin-bottom: 24px;
    }

    .mobile__link {
        color: $background-color;
        font-weight: 400;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;

        &:hover,
        &:focus {
            color: $text-color;
        }
    }

    .mobile__wrap {
        position: absolute;
        bottom: 20px;
        display: flex;
        gap: 18px;
    }

    .mobile__icon {
        width: 18px;
        height: 18px;
        fill: $background-color;


        &:hover,
        &:focus {
            stroke: $btn-background-color;
        }
    }

}

@media screen and (min-width: 750px) {

    .header {

        padding-top: 24px;



        &__list {
            display: flex;
            gap: 24px;
            align-items: center;
        }

        &__link {
            font-weight: 400;
            font-size: 20px;
            color: $text-color;
            font-family: "Montserrat", sans-serif;


            transition-property: color;
            transition-duration: 300ms;
            transition-timing-function: ease;

            &:hover,
            &:focus {

                color: $btn-background-color ;

            }
        }

        &__logo {
            width: 72px;
            height: 57px;

            transition-duration: 300ms;


        }

        &__phone {

            transition-duration: 300ms;

        }

        .js-close-menu {
            display: none;
        }

        .menu-container {
            display: none;

        }

        .js-open-menu {
            display: none;
        }

        .menu-toggle-icon {
            display: none;
        }

        .menu-container.is-open {
            display: none;

        }

        .mobile__list {
            display: none;
        }

        .mobile__item {
            display: none;
        }

        .mobile__link {
            display: none;

            &:hover,
            &:focus {
                display: none;
            }
        }

        .mobile__wrap {
            display: none;
        }

        .mobile__icon {
            display: none;


            &:hover,
            &:focus {
                display: none;
            }
        }

    }
}


@media screen and (min-width: 1262px) {

    .header {

        padding-top: 28px;



        &__list {
            gap: 48px;
        }








    }
}